[submodule "wp-content/themes/evergreen-twentyeleven"]
	path = wp-content/themes/evergreen-twentyeleven
	url = https://github.com/amygreene/wp_evergreen-twenty-eleven.git
[submodule "wp-content/themes/evergreen-twentyeleven-planet"]
	path = wp-content/themes/evergreen-twentyeleven-planet
	url = https://github.com/amygreene/wp_evergreen-twentyeleven-planet.git
