.htaccess
.idea
wp-config.php
wp-content/uploads/
wp-content/uploads
wp-content/blogs.dir/
wp-content/blogs.dir
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/mu-plugins/wpcas-conf.php
wp-content/plugins/wooslider/
wp-content/plugins/debug-bar-console/
wp-content/plugins/debug-bar-cron/
wp-content/plugins/debug-bar-extender/
wp-content/plugins/debug-bar/
wp-content/plugins/developer/
wp-content/plugins/exports-and-reports/
wp-content/plugins/log-deprecated-notices/
wp-content/plugins/log-viewer/
wp-content/plugins/rewrite-rules-inspector/
wp-content/plugins/theme-check/
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz

