[submodule "wp-content/themes/evergreen-twentyeleven"]
	path = wp-content/themes/evergreen-twentyeleven
	url = https://github.com/amygreene/wp_evergreen-twenty-eleven.git
[submodule "wp-content/themes/evergreen-twentyeleven-planet"]
	path = wp-content/themes/evergreen-twentyeleven-planet
	url = https://github.com/amygreene/wp_evergreen-twentyeleven-planet.git
[submodule "wp-content/themes/evergreen-twentyeleven-wide"]
	path = wp-content/themes/evergreen-twentyeleven-wide
	url = https://github.com/amygreene/wp_evergreen-twentyeleven-wide.git
[submodule "wp-content/themes/evergreen-twentyeleven-alphasort"]
	path = wp-content/themes/evergreen-twentyeleven-alphasort
	url = https://github.com/amygreene/wp_evergreen-twentyeleven-alphasort.git
[submodule "wp-content/themes/evergreen-twentytwelve"]
	path = wp-content/themes/evergreen-twentytwelve
	url = https://github.com/amygreene/wp_evergreen-twentytwelve.git
[submodule "wp-content/themes/evergreen-facvac"]
	path = wp-content/themes/evergreen-facvac
	url = https://github.com/amygreene/wp_evergreen-facvac.git
